- provide :title, I18n.t("custom_translations.organizer", :default => "organizer").capitalize

#home-container.row
  #content.span6
    - if Settings.beta_version && params[:controller] == 'static_pages'
      #beta-info
        = I18n.t('notifications.beta_version', :default => '').html_safe
    %h2= I18n.t("custom_translations.organizer", :default => "organizer").capitalize
    = I18n.t("static_pages.organizer_content").html_safe
    %p
      %ol
        %li Zarejestruj się, to nic nie kosztuje
        %li Klikając w przycisk "utwórz turniej", przejdź do panelu organizacyjnego,
        %li Nadaj nazwę swojemu turniejowi oraz ustal jego datę,
        %li Dodaj opis turnieju. Nasz edytor tekstowy nada mu przejrzystą, czytelną formę,
        %li Stwórz listę startową dodając zawodników. Aplikacja będzie podpowiadać Ci nazwiska na podstawie list rankingowych,
        %li Klikając w przycisk "start" rozpoczniesz  turniej. Program przeprowadzi losowanie graczy oraz utworzy drabinkę turniejową.
  .span6
    #home-signup= render 'devise/registrations/signup_form',  :signup_page => false
    #like-button 
      = render "shared/facebook_like_button"
