- provide :title, I18n.t("custom_translations.player", :default => "player").capitalize

#home-container.row
  #content.span6
    - if Settings.beta_version && params[:controller] == 'static_pages'
      #beta-info
        = I18n.t('notifications.beta_version', :default => '').html_safe
    %h2= I18n.t("custom_translations.player", :default => "player").capitalize
    = I18n.t("static_pages.player_content").html_safe
  .span6
    #home-signup= render 'devise/registrations/signup_form',  :signup_page => false
    #like-button 
      = render "shared/facebook_like_button"
