- provide :title, t('custom_translations.profile', :default => 'profile').capitalize

= render "shared/user_navigation"

.row-fluid
  #signup-form.span6
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
      %fieldset
        = f.input :email, :required => true, :autofocus => true, :label => 'E-mail'
        = f.input :name, :autofocus => true, :label => I18n.t('custom_translations.name and surname', :default => 'name and surname').capitalize
        = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :label => I18n.t('custom_translations.password', :default =>'password').capitalize
        = f.input :password_confirmation, :label => I18n.t('custom_translations.repeat password', :default =>'repeat password').capitalize, :required => false
        = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
        .form-actions
          = f.button :submit, t("custom_translation.update", :default => "update").capitalize
  .span6
    = simple_form_for(current_user.profile)
    .well
      %h3 Avatar
    .well
      %h3= t("custom_translations.unhappy", :default => "unhappy").capitalize + "?"
      = link_to t("custom_translations.delete your account", :default => "delete your account").capitalize, cancel_user_registration_path, :class => "btn btn-danger", :confirm => "Are you sure? It is unreversible!", :method => :delete
