= simple_form_for @tournament, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :start_date, :required => true do
    - @date = @tournament.start_date.nil?? DateTime.now : @tournament.start_date
    = text_field_tag :start_date_date, @date.strftime("%Y-%m-%d"), :class => 'datepicker input-small'
    = text_field_tag :start_date_time, @date.strftime("%H:%M"), :class => 'timepicker input-small'
  = f.input :description
  .form-actions
    = f.button :submit, request[:action] == 'edit' ? 'Update' : 'Create', :class => 'btn'
    - if request[:action] == 'new'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), tournaments_user_path, :class => 'btn'
    - if request[:action] == 'edit'
      = link_to 'Delete', tournament_path(@tournament), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'    
      - unless @tournament.active
        = link_to 'Activate', activate_tournament_path(@tournament), :class => 'btn btn-success', :method => 'put'
      - else
        .btn.btn-success.disabled Already activated
      - if request.xhr?
        %div.margin-top
          = link_to '#players-modal', :class => 'btn btn-info', :data => { :toggle => 'modal' }, :role => 'button' do
            %i.icon-fullscreen
            Manage players
    
%script
  $('.datepicker').datepicker({format: 'yyyy-mm-dd', autoclose: true});
  $('.timepicker').timepicker({showMeridian: false, defaultTime: 'value', showInputs: true });
