%table#players-table.table.table-condensed
  %thead
    %tr
      %th= I18n.t("custom_translations.player", :default => "player").capitalize
      %th= I18n.t("custom_translations.rank", :default => "rank").capitalize
      - if edit
        %th= I18n.t("custom_translations.action", :default => "action").capitalize
    - if edit
      %tr
        %th
          - unless @rankings.empty?
            = select_tag :ranking_id, options_for_select(@rankings) if !@rankings.empty?
          = text_field_tag "player[name]", '', :data => { :autocomplete_source => "/players/autocomplete?ranking_id=#{@rankings.try(:first).try(:last)}" }
        %th
          = text_field_tag "player[rank]", '', :class => 'rank'
        %th
          = submit_tag '+', :class => 'btn btn-success btn-medium'
  %tbody
    - player_associations = @tournament.player_associations.likely if edit
    - player_associations = @tournament.player_associations.confirmed unless edit
    - unless player_associations.empty?
      - player_associations.each_with_index do |player_assoc, index|
        - player = player_assoc.player
        %tr{ :class => ("unconfirmed" unless player_assoc.confirmed?), :data => { :id => player.id } }
          %td
            = "#{index+1}." unless edit
            = player.name
          %td= player.rank
          - if edit
            %td
              - popover_info = popover_player_info(player_assoc)
              - if popover_info.present?
                = link_to "#", :class => "popover-btn btn btn-medium", :data => { :toggle => "popover", :placement => "left", :shown => false, :original_title => "Info", :html => true, :content => "#{popover_info}"} do
                  %i.icon-info-sign
              = link_to '-', tournament_player_path(@tournament, player), :method => 'delete', :remote => 'true', :class => 'btn btn-danger btn-medium delete-player'
              - unless player_assoc.confirmed?
                = link_to player_association_confirmation_path(player, @tournament.id), :method => :put, :remote => :true, :class => 'btn btn-medium btn-warning confirm-player' do
                  %i.icon-ok
                  
