- edit ||= false

%table#players-table.table.table-condensed
  %thead
    %tr
      %th Player
      %th Rank
      - if edit
        %th Action
    - if edit
      %tr
        = form_tag tournament_players_path(@tournament), :method => 'post', :id => 'add-player', :remote => true do
          %th
            = text_field_tag "player[name]"
          %th
            = text_field_tag "player[rank]", '', :class => 'rank'
          %th
            = submit_tag '+', :class => 'btn btn-success btn-medium'
  %tbody
    - unless @tournament.players.empty?
      - players = @tournament.players.latest if edit
      - players = @tournament.players.best unless edit
      - players.each do |player|
        %tr{ :data => { :id => player.id } }
          %td= player.name
          %td= player.rank
          - if edit
            %td= link_to '-', tournament_player_path(@tournament, player), :method => 'delete', :remote => 'true', :class => 'btn btn-danger btn-medium delete-player'
