- model_class = Tournament
- provide :title, I18n.t("custom_translations.edit tournament", :default => "edit tournament").capitalize


- unless request.xhr?
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to @tournament.name, tournament_path(@tournament)
          %span.divider &gt;
        %li.active= I18n.t("custom_translations.edit", :default => "edit").capitalize

.row
  .span7
    - unless request.xhr?
      .page-header
        %h3= I18n.t("custom_translations.basic information", :default => "basic information").capitalize
    = render :partial => "form"
  - unless request.xhr?
    .span5
      .page-header
        %h3= I18n.t("custom_translations.players", :default => "players").capitalize
      = render 'players_list', :edit => true

- if @tournament.type == "BracketTournament"
  #bracket-modal.modal.hide.fade{ :tabindex => -1, :role => 'dialog', "aria-labelledby" => "bracket-modal-label", "aria-hidden" => true }
    :javascript
      window.Kipscore.playersInitialize()
    .modal-body
    .modal-footer
      = link_to I18n.t("custom_translations.randomize", :default => "randomize").capitalize, "#", tooltip_attrs('randomize', :remote => true, :class => 'tooltip-trigger btn randomize')
      = link_to I18n.t("custom_translations.save", :default => 'save').capitalize, "#", :remote => true, :class => 'btn btn-success save'
      %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => true }
        = I18n.t("custom_translations.close", :default => "close").capitalize
      
- elsif @tournament.type == "RoundRobinTournament"
  #round-robin-modal.modal.hide.fade{ :tabindex => -1, :role => 'dialog', "aria-labelledby" => "round-robin-modal-label", "aria-hidden" => true }
    .modal-body
    .modal-footer
      %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => true }
        = I18n.t("custom_translations.close", :default => "close").capitalize

- if request.xhr?
  #players-modal.modal.hide.fade{ :tabindex => -1, :role => 'dialog', 'aria-labelledby' => 'players-modal-label', 'aria-hidden' => true }
    .modal-body
      = render 'players_list', :edit => true
    .modal-footer
      %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => true } 
        = I18n.t("custom_translations.close", :default => "close").capitalize
