- model_class = Tournament
- provide :title, I18n.t("custom_translations.edit tournament", :default => "edit tournament").capitalize


- unless request.xhr?
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to @tournament.name, tournament_path(@tournament)
          %span.divider &gt;
        %li.active= I18n.t("custom_translations.edit", :default => "edit").capitalize

.row
  .span7
    - unless request.xhr?
      .page-header
        %h3= I18n.t("custom_translations.basic information", :default => "basic information").capitalize
    = render :partial => "form"
  - unless request.xhr?
    .span5
      .page-header
        %h3= I18n.t("custom_translations.players", :default => "players").capitalize
      = render 'players_list', :edit => true

- if request.xhr?
  #players-modal.modal.hide.fade{ :tabindex => -1, :role => 'dialog', 'aria-labelledby' => 'players-modal-label', 'aria-hidden' => true }
    .modal-body
      = render 'players_list', :edit => true
    .modal-footer
      %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => true } 
        = I18n.t("custom_translations.close", :default => "close").capitalize
