- provide :title, I18n.t("custom_translations.tournaments", :default => "turnieje").capitalize

- model_class = Tournament
#facebook-like-top
  .facebook-teaser
    = I18n.t("custom_translations.facebook teaser").html_safe
  = render "shared/facebook_like_button"
.page-header
  %h1= I18n.t("custom_translations.tournaments", :default => "tournaments").capitalize

= search_form_for @search, :class => 'form-inline search-form' do |f|
  .field-wrapper
    = f.text_field :name_cont, :placeholder => I18n.t("app_custom_translations.name", :default=>'name').capitalize
  .field-wrapper
    = f.label :starte_date, I18n.t("app_custom_translations.start date", :default=>'start date').capitalize
    = f.text_field :start_date_gteq, :class => 'datepicker input-small', :placeholder => I18n.t("custom_translations.from", :default => "from").capitalize
    = f.text_field :start_date_lteq, :class => 'datepicker input-small', :placeholder => I18n.t("custom_translations.to", :default => "to").capitalize
  .field-wrapper
    = f.check_box :active_true, :value => '1'
    = f.label :active_true, I18n.t("custom_translation.only started", :default => "only started").capitalize
  .field-wrapper
    = f.submit I18n.t("custom_translation.search", :default => "search").capitalize, :class => 'btn btn-small'

- unless @tournaments.empty?
  %table.table.table-striped
    %thead
      %tr
        %th= sort_link @search, :name, I18n.t("custom_translations.name", :default => "name").capitalize
        %th= sort_link @search, :start_date, I18n.t("custom_translations.start date", :default => "start date").capitalize
        %th= sort_link @search, :active, I18n.t("custom_translations.active", :default => "active").capitalize
        %th= I18n.t("custom_translations.actions", :default => "actions").capitalize
    %tbody
      - @tournaments.each do |tournament|
        %tr
          %td= link_to tournament.name, tournament_path(tournament)
          %td= tournament.start_date
          %td= tournament.active ? I18n.t("custom_translations.yes", :default => 'yes').capitalize : I18n.t("custom_translations.no", :default => 'no').capitalize
          %td
            = link_to I18n.t("custom_translations.more", :default => "more").capitalize , tournament_path(tournament), :class => 'btn btn-mini'
            = link_to I18n.t("custom_translations.bracket", :default => "bracket").capitalize, tournament_bracket_path(tournament), :class => 'btn btn-mini btn-success'
- else
  %h2= I18n.t("custom_translations.no tournaments")

= link_to I18n.t("custom_translations.create new tournament", :default => "create new tournament").capitalize, new_tournament_path, :class => 'btn btn-primary btn-large'
