- provide :title, I18n.t("custom_translations.tournaments", :default => "turnieje").capitalize

- model_class = Tournament
#facebook-like-top
  .facebook-teaser
    = I18n.t("custom_translations.facebook teaser").html_safe
  = render "shared/facebook_like_button"
.page-header
  %h1= I18n.t("custom_translations.tournaments", :default => "tournaments").capitalize
%table.table.table-striped
  %thead
    %tr
      %th= I18n.t("custom_translations.name", :default => "name").capitalize
      %th= I18n.t("custom_translations.start date", :default => "start date").capitalize
      %th= I18n.t("custom_translations.active", :default => "active").capitalize
      %th= I18n.t("custom_translations.actions", :default => "actions").capitalize
  %tbody
    - @tournaments.each do |tournament|
      %tr
        %td= link_to tournament.name, tournament_path(tournament)
        %td= tournament.start_date
        %td= tournament.active ? I18n.t("custom_translations.yes", :default => 'yes').capitalize : I18n.t("custom_translations.no", :default => 'no').capitalize
        %td
          = link_to I18n.t("custom_translations.more", :default => "more").capitalize , tournament_path(tournament), :class => 'btn btn-mini'
          = link_to I18n.t("custom_translations.bracket", :default => "bracket").capitalize, tournament_bracket_path(tournament), :class => 'btn btn-mini btn-success'

= link_to I18n.t("custom_translations.create new tournament", :default => "create new tournament").capitalize, new_tournament_path, :class => 'btn btn-primary btn-large'
