- model_class = Tournament
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:start_date)
      %th= model_class.human_attribute_name(:active)
      %th Actions
  %tbody
    - @tournaments.each do |tournament|
      %tr
        %td= link_to tournament.name, tournament_path(tournament)
        %td= tournament.start_date
        %td= tournament.active ? 'Yes': 'No'
        %td
          = link_to "More", tournament_path(tournament), :class => 'btn btn-mini'
          = link_to "Preview bracket", tournament_bracket_path(tournament), :class => 'btn btn-mini btn-success'

= link_to "Create new", new_tournament_path, :class => 'btn btn-primary btn-large'
