- model_class = Tournament
- provide :title, @tournament.name
.page-header
  %h1
    = @tournament.name
    = link_to "Go to bracket", tournament_bracket_path(@tournament), :class => 'btn btn-primary btn-large'

.row
  .span6
    %p
      %strong= model_class.human_attribute_name(:start_date) + ':'
      = @tournament.start_date
    %p
      = simple_format(@tournament.description, :class => 'tournament-description')
  
  .span6
    - unless @tournament.players.empty?
      = render "players_list", :edit => false
    - else
      %h3 There are no players yet.
    - if @tournament.user == current_user
      .form-actions
        = link_to t('.edit', :default => t("helpers.links.edit")), manage_tournament_path(@tournament), :class => 'btn'
