- model_class = Tournament
- provide :title, @tournament.name

.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to I18n.t("custom_translations.tournaments", :default => "tournaments").capitalize, tournaments_path
        %span.divider &gt;
      %li.active
        = link_to @tournament.name, @tournament
        
.page-header
  %h1
    = @tournament.name
  %br
    - unless @tournament.created?
      = link_to I18n.t("custom_translations.tournament progress", :default => "tournament progress").capitalize, tournament_progress_path(@tournament), :class => 'btn btn-primary btn-large'
    - if @tournament.joinable?
      = link_to I18n.t("custom_translations.join", :default => "join").capitalize, "#join-modal", :role => :button, :class => 'btn btn-warning btn-large', :data => { :toggle => 'modal' }

.row-fluid
  .span6
    %p
      %strong= I18n.t("custom_translations.start date", :default => "start date").capitalize  + ':'
      = @tournament.start_date
    %p
      = user_description(@tournament.description, :class => 'tournament-description')
  
  .span6
    - unless @tournament.players.confirmed.empty?
      = render "players_list", :edit => false
    - else
      %h3= I18n.t("custom_translations.there are no player yet", :default => "there are no players yet").capitalize + "."
    - if @tournament.user == current_user
      .form-actions
        = link_to I18n.t("custom_translations.edit", :default => "edit").capitalize, manage_tournament_path(@tournament), tooltip_attrs('manage', :class => 'btn')
.row-fluid
  .span12.facebook-comments
    = render "shared/facebook_comments"
    
- content_for :meta_tags do
  = render "tournaments/tournament_meta"

#join-modal.modal.hide.fade{ :tabindex => -1, :role => :dialog, "aria-hidden" => true }
  .modal-header
    %h3 Join tournament
  .modal-body
    .notifications
    = render "tournament_forms/tournament_form", :tournament => @tournament, :nosubmit => true
  .modal-footer
    = button_tag "Close", :data => { :dismiss => :modal }, "aria-hidden" => true, :class => "btn"
    = button_tag "Join", :class => 'join-button btn btn-success'
  
