- model_class = Tournament
- provide :title, @tournament.name

.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to I18n.t("custom_translations.tournaments", :default => "tournaments").capitalize, tournaments_path
        %span.divider &gt;
      %li.active
        = link_to @tournament.name, @tournament
        
.page-header
  %h1
    = @tournament.name
    = link_to I18n.t("custom_translations.go to bracket", :default => "go to bracket").capitalize, tournament_bracket_path(@tournament), :class => 'btn btn-primary btn-large'
    - if @tournament.joinable?
      = link_to I18n.t("custom_translations.join", :default => "join").capitalize, tournament_join_path(@tournament), :class => 'btn btn-warning btn-large'

.row-fluid
  .span6
    %p
      %strong= I18n.t("custom_translations.start date", :default => "start date").capitalize  + ':'
      = @tournament.start_date
    %p
      = simple_format(@tournament.description, :class => 'tournament-description')
  
  .span6
    - unless @tournament.players.confirmed.empty?
      = render "players_list", :edit => false
    - else
      %h3= I18n.t("custom_translations.there are no player yet", :default => "there are no players yet").capitalize + "."
    - if @tournament.user == current_user
      .form-actions
        = link_to I18n.t("custom_translations.edit", :default => "edit").capitalize, manage_tournament_path(@tournament), :class => 'btn'
