- model_class = Tournament
- provide :title, @tournament.name
.page-header
  %h1= @tournament.name

.row
  .span6
    %p
      %strong= model_class.human_attribute_name(:start_date) + ':'
      %br
      = @tournament.start_date
    %p
      %strong= model_class.human_attribute_name(:active) + ':'
      %br
      = @tournament.active

    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), tournaments_path, :class => 'btn'
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_tournament_path(@tournament), :class => 'btn'
      = link_to t('.destroy', :default => t("helpers.links.destroy")), tournament_path(@tournament), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
  
  .span6
    - unless @tournament.players.empty?
      = render "players_list", :edit => false
    - else
      %h3 There are no players yet.
