- provide :title, t('custom_translations.profile', :default => 'profile').capitalize

= render "shared/user_navigation"

.span8.offset2
  = simple_form_for @user_profile, :url => url_for(:controller => "user_profiles", :action => "update"), :multipart => true, :html => { :class => "form-horizontal" } do |f|
    = f.input :club, :label => I18n.t("custom_translations.club name").capitalize
    = f.input :link, :placeholder => "#{request.protocol}#{request.host_with_port}/LinkName"
    .control-group
      %label.control-label.negative-top-big= I18n.t("custom_translations.current profile link").capitalize
      .controls.negative-top-medium
        - if @user_profile.link.present?
          = link_to user_profile_url(@user_profile.link_was), user_profile_url(@user_profile.link_was)
        - else
          = I18n.t("custom_translations.profile_not_public").capitalize
    = f.input :description, :label => I18n.t("custom_translations.description", :default => "description").capitalize
    = f.input :contact, :label => I18n.t("custom_translations.contact information", :default => "contact information").capitalize, :rows => 3
    .control-group
      = f.label :avatar
      .controls
        .thumbnail.medium= image_tag current_user.profile.avatar_url(:medium)
        %div
          = f.file_field :avatar
    .form-actions
      = f.button :submit, I18n.t("custom_translations.update", :default => "update").capitalize
