- provide :title, "#{I18n.t("custom_translations.join", :default => "join").capitalize} #{@tournament.name}"

.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to I18n.t("custom_translations.tournaments", :default => "tournaments").capitalize, tournaments_path
        %span.divider &gt;
      %li
        = link_to @tournament.name, @tournament
        %span.divider &gt;
      %li.active
        = I18n.t("custom_translations.join", :default => "join").capitalize
  
.row-fluid
  .span6.offset3
    .hero-unit
      = render @tournament.tournament_form, :tournament => @tournament
