!!!
%html
  %head
    %title= full_page_title(yield(:title))
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield :javascript_includes
    = csrf_meta_tags
  %body{ :class => yield(:body_class) }
    #bg-container.container
    :javascript
      fixBackground();
    #main-wrapper
      %div#navigation.navbar.navbar-inverse.navbar-fixed-top
        %div.navbar-inner
          %div.container
            %div.pull-left
              = link_to root_path, :class => 'brand' do
                %span.logo-small
              %ul.nav
                %li= link_to "About us", about_path
                %li= link_to "Contact", contact_path
            - if signed_in?
              %ul.nav.pull-right
                %li.dropdown
                  %a{ :href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    = current_user.name
                    %b.caret  
                  %ul.dropdown-menu
                    %li= link_to 'Profile', current_user
                    %li= link_to 'Tournaments', tournaments_user_path
                    %li.divider
                    %li= link_to "Sign out", signout_path
            - else 
              = form_tag signin_path, :method => 'post', :id => 'login-box' do
                = text_field 'email', nil, :placeholder => 'Email', :class => 'input-medium'
                = password_field_tag 'password', nil, :placeholder => 'Password', :class => 'input-medium'
                = button_tag 'Sign in', :type => 'submit', :class => 'btn'
      
      %div#main-container.container
        %div.container.notifications
          - flash.each do |type,msg|
            %div{ :class => "alert alert-#{type}" }
              %button.close{ :type => 'button', 'data-dismiss' => 'alert' }×
              = msg
            
        %div.container
          = yield
              
        - if Rails.env.development?
          .container= debug(params)
      
      #push-footer 
         
    %footer.without-bar
      = render "static_pages/bar"
      .navbar.navbar-inverse
        .navbar-inner
          .container
            %ul.nav
              %li= link_to "About us", about_path
              %li= link_to "Contact", contact_path
              %li= link_to "FAQ", "#"
              %li= link_to "Privacy", "#"
          .container
            Tournament and league management software
            = "2012-#{Date.today.year}"
            All rights reserved &copy;
            = link_to "kipscore", root_path
